<html>
<body>

<h1>New Menu Item</h1>

<form action="{{ url_for('newMenuItem', restaurant_id = restaurant_id )}}" method = 'post'>

  <p>Name:</p>
    <input type='text' size='30' name='name'>

  <p>Description:</p>
    <input type='text' size='30' name='description'>

  <p>Price:</p>
    <input type='text' size='15' name='price'>

  <p>Course:</p>
    <div>
      <input type='radio' id='Appetizer' name='course'>
      <label for='Appetizer'>Appetizer</label>
    </div>
    <div>
      <input type='radio' id='Entree' name='course'>
      <label for='Appetizer'>Entree</label>
    </div>
    <div>
      <input type='radio' id='Dessert' name='course'>
      <label for='Appetizer'>Dessert</label>
    </div>
    <div>
      <input type='radio' id='Beverage' name='course'>
      <label for='Appetizer'>Beverage</label>
    </div>


<input type='submit' value='Create'>

</form>

</body>
</html>
